@import "../../theme";

.logo {
    .logotext {
        color: $primaryTextColor;
    }

    .logoCircle {
        color: $primaryBackgroundColor;
    }

    color: $white;
}

.logo--dark {
    .logotext {
        color: $white;
    }
}

.hamburgerBar {
    .logotext {
        color: $white;
    }

    .logoCircle {
        color: $white;
    }

    color: $primaryTextColor;
}