@import "../../theme";

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;

    .features__header {
        align-items: center;
        margin-bottom: 80px;

        @media (max-width: $mobileMaxWidth) {
            margin-bottom: 38px;
        }
    }

    .features__navigation {
        display: flex;
        border-bottom: 1px solid $secondaryTextColor;
        margin-bottom: 70px;

        @media (max-width: $mobileMaxWidth) {
            flex-direction: column;
            align-items: center;
            border-bottom: none;
            width: 100%;
            margin-bottom: 60px;
        }
    }
}

.buttonContainer__button {
    padding: 26px 42px;
    background: none;
    border: none;
    border-bottom: 3px solid $white;
    color: $secondaryTextColor;

    @media (max-width: $mobileMaxWidth) {
        width: 100%;
        border-bottom: 1px solid $secondaryTextColor !important;
    }
}

@media (max-width: $mobileMaxWidth) {
    .buttonContainer__button:nth-child(1) {
        border-top: 1px solid $secondaryTextColor;
    }
}

.active {
    color: $primaryTextColor;
    border-bottom: 4px solid $activeColor;
    margin-bottom: -1px;
    z-index: 2;
    position: relative;
    min-width: min-content;

    @media (max-width: $mobileMaxWidth) {
        margin-bottom: 0;
        width: 100%;
    }
}

@media (max-width: $mobileMaxWidth) {
    .active::before {
        content: "";
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 1px;
        width: 35%;
        border-bottom: 4px solid $activeColor;
    }

    .active:nth-child(1)::before {
        width: 40%;
    }

    .active:nth-child(3)::before {
        width: 25%;
    }
}