@import "./theme";

body {
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: $primaryTextColor;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}